body { text-align: center; margin-top: 20px; }
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.image-container img {
    width: 250px;
    height: 250px;
}
.options { margin-top: 20px; }
.options button {
    margin: 5px;
    padding: 10px 20px;
}
#score { position: absolute; right: 20px; top: 20px; font-size: 20px; }
